#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PROOT=$(CURDIR)
DROOT=$(PROOT)/debian


configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp

build: build-arch build-indep
build-arch: build-stamp
build-indep: build-stamp
build-stamp:
	dh_testdir
	touch build-stamp
	make -C $(PROOT)/hunspell

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	make -C $(PROOT)/hunspell clean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	install -D -m 644 hunspell/uz_UZ.aff $(DROOT)/hunspell-uz/usr/share/hunspell
	install -D -m 644 hunspell/uz_UZ.dic $(DROOT)/hunspell-uz/usr/share/hunspell

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i ChangeLog
	dh_installdocs -i
	installdeb-myspell -phunspell-uz
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
# There is nothing to do, it is an arch independent package.
# It is just to please lintian.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
